//Variaveis do sass 
$cor-padrao: darken(#c24e4b, 0%); //darken deixa ela mais escura
$cor-auxiliar: lighten(#1e2c35, 0%); //deixa mais claro
$cor-branca: #fff;
$ponto-de-quebra: 980px;
$mq-mobile: "(max-width:980px)";